head, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#container-middle {
    margin: 0 auto;
    text-align: center;
    width: 40%;
}

#username-input {
    text-align: center;
    margin: 2.5%;
    width: 35%;
}

#message-board {
    border: 1px solid #878787;
    margin: 0 auto;
    height: 300px;
    overflow: auto;
    border-radius: 5px;
    position: relative;
}

.message {
    text-align: left;
    border-radius: 5px;
    margin-top: 2px;
    margin-left: 0;
    margin-right: 0;
    /*padding: 2px;*/

    background-color: lightgray;
    padding: 8px;

    width: 50%;
    /* Bigger messages overflow */
    /* Ta bare størrelsen til meldingen */
    display: inline-block;
}

.message-own {
    float: right;
}

.message-others {
    float: left;
}

#send-new-message-box {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#input-text {
    width: 78.43191%;
    margin: 0;
    border: 1px solid gray;
    border-radius: 0 0 0 5px;
    padding: 5px;
}

#send-message {
    margin: 0;
    padding: 5px;
}

/* Colors of different messages */

/* gray is default color */

.red {
    background-color: #f7b0af;
}

.blue {
    background-color: #bacfff;
}

.green {
    background-color: rgb(164, 228, 182);
}

.yellow {
    background-color: #ffffa0;
}

/* Theme for button */
.blue-button {
    border: 0;
    background-color: #48a3e6;
    color: white;
}